lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# os and ide files
.DS_store
.idea

# runtime dependency files
node_modules
pids
logs/*.log

# deployment dependency files
public/components
public/build
web/build
migrations/.migrate


